.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media  screen and (max-width: 768px) {
        flex-direction: column;
        gap: 10px;
    }

    .rightContainer {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}